[buildout]
develop = .
parts = 
    test
    omelette
newest = true
extends = 
    https://raw.github.com/goschtl/uvclight/master/requirements/uvclight_1.0.cfg
    versions.cfg 
find-links = http://pypi.dolmen-project.org/find-links

extensions =
   buildout.dumppickedversions
   mr.developer

versions = versions
auto-checkout = *
sources = sources

[sources]
uvclight          = git https://github.com/novareto/uvclight.git
ul.sql            = git https://github.com/novareto/ul.sql.git
ul.auth           = git https://github.com/novareto/ul.auth.git
ul.browser        = git https://github.com/novareto/ul.browser.git
ul.content        = git https://github.com/novareto/ul.content.git
uvc.design.canvas = git https://github.com/novareto/uvc.design.canvas.git
cookiecutter      = git https://github.com/audreyr/cookiecutter.git
gk.admin 	  = git git@github.com:novareto/gk.admin.git
gk.crypto 	  = git git@github.com:novareto/gk.crypto.git
gk.backends 	  = git git@github.com:novareto/gk.backends.git
gk.login	  = git git@github.com:novareto/gk.login.git


[versions]

[omelette]
recipe = collective.recipe.omelette
eggs = uvclight 

[test]
recipe = z3c.recipe.scripts
eggs = 
    pytest
    gatekeeper 
    infrae.testbrowser
arguments = ['src/gatekeeper'] + sys.argv[1:] 

